@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');

:root {
    --primary-color: #7ed957;
    --primary-color-darker: #44af16;
    --primary-hover-color: #2EE59D;
    --count-color: #e8544a;
    --count-hover-color: #C;
    --count-box-shadow-color: rgba(229, 80, 46, 0.4);
    --line-mini-color: #2ee543;
    --line-tiny-color: #9fe52e;
    --line-extra-small-color: #dce52e;
    --line-small-color: #e5ab2e;
    --line-medium-color: #e5862e;
    --line-large-color: #e5592e;
    --line-humongous-color: #e52e2e;
    --closing-color: #e52e2e;
    --grey-color: rgb(105, 105, 105);
    --light-grey-color: #dcdcc8;
    --login-card-background: rgb(236, 230, 230);
    --dark-font-color: rgb(31, 31, 31);
    --light-color: white;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #fff;
    line-height: 1.6;
    /* background-color: #e7fafa; */
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

code,
pre {
    background: #333;
    color: #fff;
    padding: 10px;
}

.mrg-r-point-5 {
  margin-right: 0.5em;
}

.mrg-r-one {
  margin-right: 1em;
}

.mrg-t-1 {
  margin-top: 1em;
}

.mrg-t-b-1 {
  margin: 1em 0;
}

.disabled_change_cursor {
    cursor: not-allowed;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cursor_pointer {
  cursor: pointer;
}

.flex_middle {
    display: flex;
  align-items: center;
  justify-content: center;
}

.flex_left{
    display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex_right {
    display: flex;
  align-items: center;
  justify-content: flex-end;
}

.flex_evenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.flex_around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.flex_between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app {
    display: flex;
  align-items: center;
  flex-direction: column;
}

.scroll_hidden {
  overflow: hidden;
}

.triple_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.ft-bold {
  font-weight: bold;
}

.cancel:hover {
  color: var(--closing-color);
}

/* ------------------------- SPINNER ------------------------- */
.spinner {
  width: 2.5em;
  height: 3em;
  border: 3px solid transparent;
  border-top-color: var(--primary-color);
  border-bottom-color: var(--primary-color);
  border-radius: 50%;
  animation: spin-stretch 2s ease infinite;
}

@keyframes spin-stretch {
  50% {
    transform: rotate(360deg) scale(0.4, 0.33);
    border-width: 8px;
  }
  100% {
    transform: rotate(720deg) scale(1, 1);
    border-width: 3px;
  }
}

.spinner-graph {
  display: flex;
  width: 2em;
  height: 2em;
  border: 3px solid transparent;
  border-top-color: var(--primary-color);
  border-bottom-color: var(--primary-color);
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

.spinner-graph:before {
  content: '';
  display: block;
  margin: auto;
  width: 0.75em;
  height: 0.75em;
  border: 3px solid var(--primary-color);
  border-radius: 50%;
  animation: pulse 1s alternate ease-in-out infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}



/* ----------------------- NAVBAR ---------------------------- */

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

.navbar-active {
  display: none;
}

.navbar .logo img {
  object-fit: contain;
  width: 45px;
  margin:  0px 10px 0px 0px;
}

.navbar .hamburger {
        cursor: pointer;
        animation: verticalToHorizontal 0.3s 1 linear;
        color: black;
    }

  .navbar .hamburger:hover,
  .navbar .hamburger--tilted:hover {
      color: var(--primary-color);
  }

  .navbar .hamburger--tilted {
      cursor: pointer;
      transform: rotate(90deg);
      animation: horizontalToVertical 0.3s 1 linear;
      color: black;

  }
  

@keyframes verticalToHorizontal {
        0% {
            transform: rotate(90deg);
        }
        50% {
            transform: rotate(45deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }

    @keyframes horizontalToVertical {
        0% {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(45deg);
        }
        100% {
            transform: rotate(90deg);
        }
    }

.side_navbar {
  width: 15vw;
  background-color: rgb(255, 255, 255);
}

.side_navbar .title {
  text-transform: uppercase;
  font-weight: 1000;
  color: var(--primary-color);
  font-size: 1em;
  text-align: center;
}

.navbar_option {
  display: inline-block;
  position: relative;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar_option:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--primary-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navbar_option:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.side_navbar .link {
  margin-left: 0.5em;
  font-size: 1.1em;
  color: var(--grey-color);
}

.side_navbar .icon {
  font-size: 20;
  color: var(--grey-color);
}

/* ----------------------- LOGIN ------------------------- */
.login {
  height: 100vh;
  width: 100vw;
}

.login .card {
    box-shadow: 0 4px 8px 0 var(--login-card-background);
    width: 300px;
    padding: 0.5 1em;
    margin: auto;
    text-align: center;
    font-family: arial;
    border-radius: 10px;
    background-color: var(--login-card-background);
    min-height: 400px;
    color: #f4f4f4;
    border: 2px solid var(--primary-color);
    z-index: 1;
    font-family: 'PT Serif',serif;
    opacity: 0.95;
}

.login .card img {
  object-fit: contain;
  width: 80px;
  height: 80px;
}

.login .card .title {
    color: var(--dark-font-color);
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.login .card .errors {
  background-color: var(--count-color);
  color: white;
  border-radius: 10px;
  margin: 0.5em 0 1em 0;
  width: 90%;
}

.login .card .sign_up_login {
  color: var(--grey-color);
  font-size: 1em;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 1em 0 0 0;
}

.login .card .sign_up_login .link:hover {
  color: var(--primary-color-darker);
}

    /* ------------------------- MAIN -------------------------- */
    .main {
       position: relative;
  width: 100%;
  height: calc(100vh - 50px);
  height: -moz-calc(100vh - 50px);
  height: -webkit-calc(100vh - 50px);
  }

    .main-active {
       position: relative;
  width: 100%;
  height: calc(100vh);
  height: -moz-calc(100vh);
  height: -webkit-calc(100vh);
  }

  .main-active:after {
    content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border-radius: 0;
          background: linear-gradient(120deg, yellow, green, blue, red);
          background-size: 400% 400%;
          animation: frame-enter 0s forwards ease-in-out reverse, gradient-animation 4s ease-in-out infinite;

  }

  .main .expand-icon,
  .main-active  .expand-icon {
    position: absolute;
    bottom: 70px;
    animation: getInExpandIcon 0.5s 1 linear
  }

  .main .expand-icon .icons-left,
  .main-active  .expand-icon .icons-left {
    margin-right: 50px;
  }

  .main .expand-icon .icons-right,
  .main-active  .expand-icon .icons-right {
    margin-left: 50px;
  }

@keyframes getInExpandIcon {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 15% 0%;
  }

  50% {
    background-position: 85% 100%;
  }

  100% {
    background-position: 15% 0%;
  }
}

  @keyframes frame-enter {
  0% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
  }

  25% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) 100%, 100% 100%, 100% 0%, 0% 0%);
  }

  50% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, 100% 0%, 0% 0%);
  }

  75% {
    -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 0%, 0% 0%);
  }

  100% {
    -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 0% 100%);
  }
}

  .main .go-down,
  .main-active .go-down {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(50vh);
    animation: goDownOnBall 1s 1 linear;
  }

  .main .go-down-invisible, 
  .main-active  .go-down-invisible {
    display: none;
  }

  @keyframes goDownOnBall {
    0% {
      transform: translateY(0vh);
      overflow-y: hidden;
    }
    10% {
      transform: translateY(5vh);
      overflow-y: hidden;
    }
    20% {
      transform: translateY(10vh);
      overflow-y: hidden;
    }
    30% {
      transform: translateY(15vh);
      overflow-y: hidden;
    }
    40% {
      transform: translateY(20vh);
      overflow-y: hidden;
    }
    50% {
      transform: translateY(25vh);
      overflow-y: hidden;
    }
    60% {
      transform: translateY(30vh);
      overflow-y: hidden;
    }
    70% {
      transform: translateY(35vh);
      overflow-y: hidden;
    }
    80% {
      transform: translateY(40vh);
      overflow-y: hidden;
    }
    90% {
      transform: translateY(45vh);
      overflow-y: hidden;
    }
    100% {
      transform: translateY(50vh);
      overflow-y: hidden;
      width: 0;
      height: 0;
    }
  }

.main .button,
.main-active  .button {
      border-radius: 50%;
      color: #fff;
      background-color: var(--primary-color);
      width: 100px;
      height: 100px;
      font-size: 1.5em;
      font-weight: bold;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      animation: convertToGo 0.3s 1 linear;
    }
/* 
.main .button_hover,
.main-active  .button_hover {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  font-size: 1.5em;
  font-weight: bold;
  background-color: var(--primary-hover-color);
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  animation: goHover 0.3s ease 0s;
  transform: translateY(-8px);
} */

.main .count_button,
.main-active  .count_button {
  width: 200px;
  height: 120px;
  border-radius: 10px;
  font-size: 1.1em;
  font-weight: bold;
  background-color: var(--count-color);
  box-shadow: 0px 15px 20px var( --count-box-shadow-color);
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  animation: convertToCount 0.3s 1 linear;

}

@keyframes convertToGo {

  0% {
    width: 200px;
    height: 120px;
    border-radius: 10px;
    font-size: 0.9em;
    font-weight: bold;
    background-color: var(--count-color);
    box-shadow: 0px 15px 20px var( --count-box-shadow-color);
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
    25% {
    border-radius: 10%;
      color: #fff;
      background-color: #a86032;
      width: 175px;
      height: 115px;
      font-size: 1em;
      font-weight: bold;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }
    50% {
    border-radius: 15%;
      color: #fff;
      background-color: #a89732;
      width: 150px;
      height: 110px;
      font-size: 1.1em;
      font-weight: bold;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }
  
  75% {
      border-radius: 35%;
      color: #fff;
      background-color: #6da832;
      width: 125px;
      height: 105px;
      font-size: 1.25em;
      font-weight: bold;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }

    100% {
    border-radius: 50%;
      color: #fff;
      background-color: var(--primary-color);
      width: 100px;
      height: 100px;
      font-size: 1.5em;
      font-weight: bold;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }
}


@keyframes convertToCount {
  0% {
    border-radius: 50%;
      color: #fff;
      background-color: var(--primary-color);
      width: 100px;
      height: 100px;
      font-size: 1.5em;
      font-weight: bold;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }

  25% {
      border-radius: 35%;
      color: #fff;
      background-color: #6da832;
      width: 125px;
      height: 105px;
      font-size: 1.25em;
      font-weight: bold;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }

  50% {
    border-radius: 15%;
      color: #fff;
      background-color: #a89732;
      width: 150px;
      height: 110px;
      font-size: 1.1em;
      font-weight: bold;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }

  75% {
    border-radius: 10%;
      color: #fff;
      background-color: #a86032;
      width: 175px;
      height: 115px;
      font-size: 1em;
      font-weight: bold;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }

  100% {
    width: 200px;
    height: 120px;
    border-radius: 10px;
    font-size: 0.9em;
    font-weight: bold;
    background-color: var(--count-color);
    box-shadow: 0px 15px 20px var( --count-box-shadow-color);
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

@keyframes goHover {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(-8px);
  }
}

/* --------------- TIMELINE ------------------------ */
.timeline {
  width: 100%;
  height: 100vh;
  position: relative;
  margin: 2em 0;
  padding: 2em 0;
}

.timeline .main {
  width: 40vw;
}

.timeline .main .title {
  text-transform: uppercase;
  font-weight: 1000;
  color: var(--primary-color);
  font-size: 2em;
  text-align: center;
  margin: 0 0 1em 0;
}

.timeline .main .title .date {
  color: gray;
  font-size: 14px;
  text-align: center;
  text-transform:capitalize;
}

.timeline .main .title .date:hover {
  color: var(--count-color);
}

.close_date {
  color: gray;
}

.close_date:hover {
  color: var(--closing-color);
}

.timeline .main .line .element_mini {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--line-mini-color);
  font-weight: bold;
}

.empty_timeline {
  color: var(--light-grey-color);
  font-size: 0.9em;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 80px;
}

/* .timeline .main .line .liner_mini_left {
   -ms-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
  height: 1px;
  background-color: var(--line-mini-color);
  padding: 1px;
  width: 90%;
  z-index: -1;
}

.timeline .main .line .liner_mini_right {
   -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
  height: 1px;
  background-color: var(--line-mini-color);
  padding: 1px;
  width: 90%;
  z-index: -1;
} */

.timeline .main .line .liner_mini_left {
   -ms-transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
  transform: rotate(7deg);
  height: 0.1em;
  background-color: var(--light-grey-color);
  /* padding: 1px; */
  width: 90%;
  z-index: -1;
}

@media (max-width: 360px) {
  .timeline .main .line .liner_mini_left {
   -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  height: 0.1em;
  background-color: var(--light-grey-color);
  /* padding: 1px; */
  width: 90%;
  z-index: -1;
}
}

.timeline .main .line .liner_mini_right {
   -ms-transform: rotate(-7deg);
  -webkit-transform: rotate(-7deg);
  transform: rotate(-7deg);
  height: 1px;
  background-color: var(--light-grey-color);
  padding: 1px;
  width: 90%;
  z-index: -1;
}

.timeline .main .line .element_tiny {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--line-tiny-color);
  font-weight: bold;
  margin: 0.5em 0;
}

.timeline .main .line .liner_tiny_left {
   -ms-transform: rotate(7.5deg);
  -webkit-transform: rotate(7.5deg);
  transform: rotate(7.5deg);
  height: 1px;
  background-color: var(--line-tiny-color);
  padding: 1px;
  width: 90%;
  z-index: -1;
}

.timeline .main .line .liner_tiny_right{
   -ms-transform: rotate(-7.5deg);
  -webkit-transform: rotate(-7.5deg);
  transform: rotate(-7.5deg);
  height: 1px;
  background-color: var(--line-tiny-color);
  padding: 1px;
  width: 90%;
  z-index: -1;
}


.timeline .main .line .element_extra-small {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: var(--line-extra-small-color);
  font-weight: bold;
  margin: 0.5em 0;
}


.timeline .main .line .liner_extra-small_left {
   -ms-transform: rotate(9.5deg);
  -webkit-transform: rotate(9.5deg);
  transform: rotate(9.5deg);
  height: 1px;
  background-color: var(--line-extra-small-color);
  padding: 1px;
  width: 90%;
  z-index: -1;
}

.timeline .main .line .liner_extra-small_right{
   -ms-transform: rotate(-9.5deg);
  -webkit-transform: rotate(-9.5deg);
  transform: rotate(-9.5deg);
  height: 1px;
  background-color: var(--line-extra-small-color);
  padding: 1px;
  width: 90%;
  z-index: -1;
}


.timeline .main .line .element_small {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: var(--line-small-color);
  font-weight: bold;
  margin: 0.8em 0;
}

.timeline .main .line .liner_small_left {
   -ms-transform: rotate(11deg);
  -webkit-transform: rotate(11deg);
  transform: rotate(11deg);
  height: 1.5px;
  background-color: var(--line-small-color);
  padding: 1px;
  width: 90%;
  z-index: -1;
}

.timeline .main .line .liner_small_right{
   -ms-transform: rotate(-11deg);
  -webkit-transform: rotate(-11deg);
  transform: rotate(-11deg);
  height: 1.5px;
  background-color: var(--line-small-color);
  padding: 1px;
  width: 90%;
  z-index: -1;
}

.timeline .main .line .element_medium {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--line-medium-color);
  font-weight: bold;
  margin: 1em 0;
}

.timeline .main .line .liner_medium_left {
   -ms-transform: rotate(13.5deg);
  -webkit-transform: rotate(13.5deg);
  transform: rotate(13.5deg);
  height: 2px;
  background-color: var(--line-medium-color);
  padding: 1px;
  width: 90%;
  z-index: -1;
}

.timeline .main .line .liner_medium_right{
   -ms-transform: rotate(-13.5deg);
  -webkit-transform: rotate(-13.5deg);
  transform: rotate(-13.5deg);
  height: 2px;
  background-color: var(--line-medium-color);
  padding: 1px;
  width: 90%;
  z-index: -1;
}

.timeline .main .line .element_large {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: var(--line-large-color);
  font-weight: bold;
  margin: 1.2em 0;
}


.timeline .main .line .liner_large_left {
   -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  height: 2.5px;
  background-color: var(--line-large-color);
  padding: 1px;
  width: 90%;
  z-index: -1;
}

.timeline .main .line .liner_large_right{
   -ms-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
  height: 2.5px;
  background-color: var(--line-large-color);
  padding: 1px;
  width: 90%;
  z-index: -1;
}

.timeline .main .line .element_humongous{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: var(--line-humongous-color);
  font-weight: bold;
  margin: 1.5em 0;
}

.timeline .main .line .liner_humongous_left {
   -ms-transform: rotate(17.5deg);
  -webkit-transform: rotate(17.5deg);
  transform: rotate(17.5deg);
  height: 3px;
  background-color: var(--line-humongous-color);
  padding: 1px;
  width: 90%;
  z-index: -1;
}

.timeline .main .line .liner_humongous_right{
   -ms-transform: rotate(-17.5deg);
  -webkit-transform: rotate(-17.5deg);
  transform: rotate(-17.5deg);
  height: 3px;
  background-color: var(--line-humongous-color);
  padding: 1px;
  width: 90%;
  z-index: -1;
}

#go-up {
  position: absolute;
  bottom: 100px;
  right: 100px;
}

#go-up:hover {
  animation: goUpIcon 0.4s 1 linear;
}

@keyframes goUpIcon {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(-8px);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* --------------------- SNACKBAR ------------------------ */
.MuiSnackbar-anchorOriginBottomCenter:nth-child(2) {
    bottom: 92px !important;
}

.MuiSnackbar-root .MuiAlert-root {
    height: 40px;
    padding-top: 2px;
    margin-bottom: 10px;
}

.MuiSnackbar-root .MuiAlert-root .MuiAlert-message {
    padding-top: 10px;
}

.MuiSnackbar-root .MuiAlert-filledSuccess {
    background-color: #2ebf06;
}

.MuiSnackbar-root .MuiAlert-filledError {
    background-color: #f71717;
}

.MuiSnackbar-root .MuiAlert-filledInfo {
    background-color: #219be7;
}

.MuiSnackbar-root .snackbar_alert_info {
    box-shadow: 2px 2px 7px -3px rgba(15, 15, 15, 0.75);
    background-color: #5a5a5a;
    font-weight: 600;
    color: rgba(245, 245, 245);
    height: 30px;
    padding: 0em 1.5em 3.5em 1em;
}

.MuiSnackbar-root .snackbar_alert_error {
    box-shadow: 2px 2px 7px -3px rgba(15, 15, 15, 0.75);
    background-color: #ee2525;
    font-weight: 600;
    color: rgba(245, 245, 245);
    height: 30px;
    padding: 0em 1.5em 3.5em 1em;
}

.MuiSnackbar-root .snackbar_alert_success {
    box-shadow: 2px 2px 7px -3px rgba(15, 15, 15, 0.75);
    background-color: #31c10a;
    font-weight: 600;
    color: rgba(245, 245, 245);
    height: 30px;
    padding: 0em 1.5em 3.5em 1em;
}

/* ---------------------- DATE PICKER --------------------------- */
.nice-dates-day.-highlight { color: var(--primary-color-darker); }

/* -------------------- METRICS --------------------------------- */
.metrics {
  width: 100%;
  height: 100vh;
  position: relative;
  margin: 2em 0;
  padding: 2em 0;
}

.metrics .main {
  width: 80vw;
  margin: 0 0 3em 0;
}

.metrics .main .title {
  text-transform: uppercase;
  font-weight: 1000;
  color: var(--primary-color);
  font-size: 2em;
  text-align: center;
  margin: 1em 0;
}

.metrics .main .details {
  display: grid;
  grid-template-areas: "metrics_details_one metrics_details_two"
  "metrics_details_three";
  grid-template-columns: 2.2fr 1fr;
  grid-template-rows: repeat(2, 41vh);
  width: 100%;
}

.metrics_details_one {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .metrics_details_two {
        grid-row: 1/3;
        grid-column: 2/3;
    }

    .metrics_details_three {
        grid-column: 1/2;
        grid-row: 2/3;
    }

.main .charts {
  width: 100%;
  height: 100%;
  animation: goUpAnimate 0.4s 1 ease-in;
}

@keyframes goUpAnimate {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.main .charts .title {
  font-size: 0.9em;
  color: var(--primary-color-darker);
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
}

.main .charts .footnote {
  color: var(--light-grey-color);
  font-size: 0.7em;
  font-family: Arial, Helvetica, sans-serif;
}

    .top_margin_progress_blocks {
        margin: 0.5em 0 0.3em 0;
    }

    .progress_blocks_main {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 0px 6px -3px rgba(15, 15, 15, 0.75);
        padding: 0em 0em 0em 0em;
        width: 200px;
        color: var(--dark-font-color);
        margin: 1em 0.5em;
    }

    .progress_blocks_main img {
      object-fit: contain;
      width: 35px;
      height: 35px;
    }

    .progress_blocks_main .progress_blocks_individual_headers {
        font-size: 0.85em;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0.5em 0em 0em 0em;
    }

    .progress_blocks_main .info {
        margin: 0.5em 0em 0em 0em;
    }

    /* Switch */
.switch .button_switch {
  padding: 5px 5px;
  cursor: pointer;
  font-size: 0.7em;
  outline: none;
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  box-shadow: 0 3px rgb(202, 202, 202);
}

.switch .button_switch:hover {background-color: var(--primary-color-darker)}

.switch .button_switch:active {
  background-color: var(--primary-color-darker);
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

.switch .button_switch-2 {
  padding: 5px 5px;
  cursor: pointer;
  font-size: 0.7em;
  outline: none;
  color: #fff;
  background-color: var(--count-color);
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  box-shadow: 0 3px rgb(202, 202, 202);
}

.switch .button_switch-2:hover {background-color: var(--closing-color)}

.switch .button_switch-2:active {
  background-color: var(--closing-color);
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

  /* ------ */

   /* ------------------------ NOT FOUND ----------------------- */

   .bg_not_found {
     position: fixed;
     top: 0;
     right: 0;
      background: url('./resources/images/backgroundRAM.jpg') no-repeat center center/cover;
      height: 100vh;
      width: 100vw;
      z-index: -1;
      filter: blur(7px);
      -webkit-filter: blur(7px);
   }

   .not_found .crux img {
     width: 140px;
     height: 80px;
     object-fit: contain;
   }

   .not_found .crux {
     color: var(--light-color);
     font-size: 1.5em;
     font-weight: bold;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }

   .not_found .inputButton {
     border: 2px solid var(--primary-color);
     border-radius: 10px;
     background-color: white;
     font-size: 0.9em;
     color: var(--grey-color);
     font-weight: bold;
     cursor: pointer;
   }

   .not_found .inputButton:hover {
      border: 2px solid var(--count-color);
   }

   .not_found .fourOfour {
     font-size: 8em;
     font-weight: bold;
     color: var(--light-color);
     box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
     width: 50vw;
     height: 55vh;
     border-radius: 10px;
   }