@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');

:root {
    --primary-color: #7ed957;
    --primary-hover-color: #2EE59D;
    --count-color: #e8544a;
    --count-hover-color: #f53224;
    --count-box-shadow-color: rgba(229, 80, 46, 0.4);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #fff;
    line-height: 1.6;
    /* background-color: #e7fafa; */
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

code,
pre {
    background: #333;
    color: #fff;
    padding: 10px;
}

.disabled_change_cursor {
    cursor: not-allowed;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cursor_pointer {
  cursor: pointer;
}

.flex_middle {
    display: flex;
  align-items: center;
  justify-content: center;
}

/* ------------------------- HOME ------------------------------ */


/* ----------------------- NAVBAR ---------------------------- */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid blue;
}

.navbar .logo img {
  object-fit: contain;
  width: 45px;
  margin:  0px 10px 0px 0px;
}

.navbar .hamburger {
        cursor: pointer;
        animation: verticalToHorizontal 0.3s 1 linear;
        color: black;
    }

  .navbar .hamburger:hover,
  .navbar .hamburger--tilted:hover {
      color: var(--primary-color);
  }

  .navbar .hamburger--tilted {
      cursor: pointer;
      transform: rotate(40deg);
      animation: horizontalToVertical 0.3s 1 linear;
      color: black;

  }
  

@keyframes verticalToHorizontal {
        0% {
            transform: rotate(40deg);
        }
        50% {
            transform: rotate(20deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }

    @keyframes horizontalToVertical {
        0% {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(20deg);
        }
        100% {
            transform: rotate(40deg);
        }
    }

    /* ------------------------- MAIN -------------------------- */
    .main {
       position: relative;
  width: 100%;
  height: calc(100vh - 40px);
  border: 1px solid red;
    }
.main .button {
      border-radius: 50%;
      color: #fff;
      background-color: var(--primary-color);
      width: 70px;
      height: 70px;
      font-size: 1.5em;
      font-weight: bold;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    }

.main .button_hover {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-size: 1.5em;
  font-weight: bold;
  background-color: var(--primary-hover-color);
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  animation: goHover 0.3s ease 0s;
  transform: translateY(-8px);
}

.main .count_button {
  width: 120px;
  height: 80px;
  border-radius: 10px;
  font-size: 0.9em;
  font-weight: bold;
  background-color: var(--count-color);
  box-shadow: 0px 15px 20px var( --count-box-shadow-color);
  color: #fff;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main .count_button_hover {
  width: 120px;
  height: 80px;
  border-radius: 10px;
  font-size: 0.9em;
  font-weight: bold;
  background-color: var(--count-hover-color);
  box-shadow: 0px 15px 20px var( --count-box-shadow-color);
  color: #fff;
  animation: goHover 0.3s ease 0s;
  transform: translateY(-8px);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}


@keyframes goHover {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(-8px);
  }
}