@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');

:root {
    --primary-color: #7ed957;
    --primary-hover-color: #2EE59D;
    --count-color: #e8544a;
    --count-hover-color: #f53224;
    --count-box-shadow-color: rgba(229, 80, 46, 0.4);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #fff;
    line-height: 1.6;
    /* background-color: #e7fafa; */
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

code,
pre {
    background: #333;
    color: #fff;
    padding: 10px;
}

.mrg-r-point-5 {
  margin-right: 0.5em;
}

.disabled_change_cursor {
    cursor: not-allowed;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cursor_pointer {
  cursor: pointer;
}

.flex_middle {
    display: flex;
  align-items: center;
  justify-content: center;
}

.flex_left{
    display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex_right {
    display: flex;
  align-items: center;
  justify-content: flex-end;
}

.app {
    display: flex;
  align-items: center;
  flex-direction: column;
}

/* ------------------------- HOME ------------------------------ */


/* ----------------------- NAVBAR ---------------------------- */

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid blue;
  height: 50px;
}

.navbar .logo img {
  object-fit: contain;
  width: 45px;
  margin:  0px 10px 0px 0px;
}

.navbar .hamburger {
        cursor: pointer;
        animation: verticalToHorizontal 0.3s 1 linear;
        color: black;
    }

  .navbar .hamburger:hover,
  .navbar .hamburger--tilted:hover {
      color: var(--primary-color);
  }

  .navbar .hamburger--tilted {
      cursor: pointer;
      transform: rotate(40deg);
      animation: horizontalToVertical 0.3s 1 linear;
      color: black;

  }
  

@keyframes verticalToHorizontal {
        0% {
            transform: rotate(40deg);
        }
        50% {
            transform: rotate(20deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }

    @keyframes horizontalToVertical {
        0% {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(20deg);
        }
        100% {
            transform: rotate(40deg);
        }
    }

/* -------------------------- HOME ----------------------------- */

/* ------------------------------------------------------------- */

    /* ------------------------- MAIN -------------------------- */
    .main {
       position: relative;
  width: 100%;
  height: calc(100vh - 50px);
  height: -moz-calc(100vh - 50px);
  height: -webkit-calc(100vh - 50px);
  border: 1px solid red;
    }

  .main .go-down {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(50vh);
    animation: goDownOnBall 1s 1 linear;
  }

  .main .go-down-invisible {
    display: none;
  }

  @keyframes goDownOnBall {
    0% {
      transform: translateY(0vh);
      overflow-y: hidden;
    }
    10% {
      transform: translateY(5vh);
      overflow-y: hidden;
    }
    20% {
      transform: translateY(10vh);
      overflow-y: hidden;
    }
    30% {
      transform: translateY(15vh);
      overflow-y: hidden;
    }
    40% {
      transform: translateY(20vh);
      overflow-y: hidden;
    }
    50% {
      transform: translateY(25vh);
      overflow-y: hidden;
    }
    60% {
      transform: translateY(30vh);
      overflow-y: hidden;
    }
    70% {
      transform: translateY(35vh);
      overflow-y: hidden;
    }
    80% {
      transform: translateY(40vh);
      overflow-y: hidden;
    }
    90% {
      transform: translateY(45vh);
      overflow-y: hidden;
    }
    100% {
      transform: translateY(50vh);
      overflow-y: hidden;
      width: 0;
      height: 0;
    }
  }

.main .button {
      border-radius: 50%;
      color: #fff;
      background-color: var(--primary-color);
      width: 70px;
      height: 70px;
      font-size: 1.5em;
      font-weight: bold;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    }

.main .button_hover {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-size: 1.5em;
  font-weight: bold;
  background-color: var(--primary-hover-color);
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  animation: goHover 0.3s ease 0s;
  transform: translateY(-8px);
}

.main .count_button {
  width: 120px;
  height: 80px;
  border-radius: 10px;
  font-size: 0.9em;
  font-weight: bold;
  background-color: var(--count-color);
  box-shadow: 0px 15px 20px var( --count-box-shadow-color);
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation: convertToCount 0.3s 1 linear;

}

@keyframes convertToCount {
  0% {
    border-radius: 50%;
      color: #fff;
      background-color: var(--primary-color);
      width: 70px;
      height: 70px;
      font-size: 1.5em;
      font-weight: bold;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }

  25% {
      border-radius: 35%;
      color: #fff;
      background-color: #6da832;
      width: 82px;
      height: 73px;
      font-size: 1.25em;
      font-weight: bold;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }

  50% {
    border-radius: 15%;
      color: #fff;
      background-color: #a89732;
      width: 93px;
      height: 76px;
      font-size: 1.1em;
      font-weight: bold;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }

  75% {
    border-radius: 10%;
      color: #fff;
      background-color: #a86032;
      width: 105px;
      height: 78px;
      font-size: 1em;
      font-weight: bold;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }

  100% {
    width: 120px;
    height: 80px;
    border-radius: 10px;
    font-size: 0.9em;
    font-weight: bold;
    background-color: var(--count-color);
    box-shadow: 0px 15px 20px var( --count-box-shadow-color);
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

@keyframes goHover {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(-8px);
  }
}

/* --------------- TIMELINE ------------------------ */
.timeline {
  width: 100%;
  height: 100vh;
  border: 1px solid green;
  height: 100%;
  position: relative;
}

.timeline .main {
  width: 40vw;
  border: 1px solid green;
}

.timeline .main .title {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--primary-color);
  font-size: 1.5em;
  text-align: center;
}

.timeline .main .line .element_mini {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #2ee543;
  font-weight: bold;
}

.timeline .main .line .liner_mini_left {
   -ms-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
  height: 1px;
  background-color: #2ee543;
  padding: 1px;
  width: 90%;
  z-index: -1;
}

.timeline .main .line .liner_mini_right {
   -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
  height: 1px;
  background-color: #2ee543;
  padding: 1px;
  width: 90%;
  z-index: -1;
}

.timeline .main .line .element_tiny {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #9fe52e;
  font-weight: bold;
  margin: 0.5em 0;
}

.timeline .main .line .liner_tiny_left {
   -ms-transform: rotate(7.5deg);
  -webkit-transform: rotate(7.5deg);
  transform: rotate(7.5deg);
  height: 1px;
  background-color: #9fe52e;
  padding: 1px;
  width: 90%;
  z-index: -1;
}

.timeline .main .line .liner_tiny_right{
   -ms-transform: rotate(-7.5deg);
  -webkit-transform: rotate(-7.5deg);
  transform: rotate(-7.5deg);
  height: 1px;
  background-color: #9fe52e;
  padding: 1px;
  width: 90%;
  z-index: -1;
}


.timeline .main .line .element_extra-small {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #dce52e;
  font-weight: bold;
  margin: 0.5em 0;
}


.timeline .main .line .liner_extra-small_left {
   -ms-transform: rotate(9.5deg);
  -webkit-transform: rotate(9.5deg);
  transform: rotate(9.5deg);
  height: 1px;
  background-color: #dce52e;
  padding: 1px;
  width: 90%;
  z-index: -1;
}

.timeline .main .line .liner_extra-small_right{
   -ms-transform: rotate(-9.5deg);
  -webkit-transform: rotate(-9.5deg);
  transform: rotate(-9.5deg);
  height: 1px;
  background-color: #dce52e;
  padding: 1px;
  width: 90%;
  z-index: -1;
}


.timeline .main .line .element_small {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #e5ab2e;
  font-weight: bold;
  margin: 0.8em 0;
}

.timeline .main .line .liner_small_left {
   -ms-transform: rotate(11deg);
  -webkit-transform: rotate(11deg);
  transform: rotate(11deg);
  height: 1px;
  background-color: #e5ab2e;
  padding: 1px;
  width: 90%;
  z-index: -1;
}

.timeline .main .line .liner_small_right{
   -ms-transform: rotate(-11deg);
  -webkit-transform: rotate(-11deg);
  transform: rotate(-11deg);
  height: 1px;
  background-color: #e5ab2e;
  padding: 1px;
  width: 90%;
  z-index: -1;
}

.timeline .main .line .element_medium {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #e5862e;
  font-weight: bold;
  margin: 1em 0;
}

.timeline .main .line .liner_medium_left {
   -ms-transform: rotate(13.5deg);
  -webkit-transform: rotate(13.5deg);
  transform: rotate(13.5deg);
  height: 1px;
  background-color: #e5862e;
  padding: 1px;
  width: 90%;
  z-index: -1;
}

.timeline .main .line .liner_medium_right{
   -ms-transform: rotate(-13.5deg);
  -webkit-transform: rotate(-13.5deg);
  transform: rotate(-13.5deg);
  height: 1px;
  background-color: #e5862e;
  padding: 1px;
  width: 90%;
  z-index: -1;
}

.timeline .main .line .element_large {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: #e5592e;
  font-weight: bold;
  margin: 1.2em 0;
}


.timeline .main .line .liner_large_left {
   -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
  height: 1px;
  background-color: #e5592e;
  padding: 1px;
  width: 90%;
  z-index: -1;
}

.timeline .main .line .liner_large_right{
   -ms-transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
  height: 1px;
  background-color: #e5592e;
  padding: 1px;
  width: 90%;
  z-index: -1;
}

.timeline .main .line .element_humongous{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #e52e2e;
  font-weight: bold;
  margin: 1.5em 0;
}

.timeline .main .line .liner_humongous_left {
   -ms-transform: rotate(17.5deg);
  -webkit-transform: rotate(17.5deg);
  transform: rotate(17.5deg);
  height: 1px;
  background-color: #e5592e;
  padding: 1px;
  width: 90%;
  z-index: -1;
}

.timeline .main .line .liner_humongous_right{
   -ms-transform: rotate(-17.5deg);
  -webkit-transform: rotate(-17.5deg);
  transform: rotate(-17.5deg);
  height: 1px;
  background-color: #e5592e;
  padding: 1px;
  width: 90%;
  z-index: -1;
}

#go-up {
  position: absolute;
  bottom: 100px;
  right: 100px;
}

#go-up:hover {
  animation: goUpIcon 0.4s 1 linear;
}

@keyframes goUpIcon {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(-8px);
  }
  75% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}